{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure               {:mvn/version "1.10.1"}
  org.clojure/clojurescript         {:git/url "https://github.com/clojure/clojurescript"
                                     :sha     "1084cca73ac5082ae76f1939356f664f35284c4d"}
  org.java-websocket/Java-WebSocket {:mvn/version "1.5.1"}
  com.cognitect/transit-clj         {:mvn/version "1.0.324"
                                     :exclusions  [org.msgpack/msgpack]}

  io.pedestal/pedestal.log       {:mvn/version "0.5.2"}
  ch.qos.logback/logback-classic {:exclusions  [org.slf4j/slf4j-api org.slf4j/slf4j-nop]
                                  :mvn/version "1.2.3"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {thheller/shadow-cljs {:mvn/version "2.9.9"}
                 garden               {:mvn/version "1.3.9"}}}

  :demo
  {:extra-paths ["../kaocha-demo/test"]}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-601"}
                 lambdaisland/chui-remote {:local/root "../chui"}
                 }}}}
