{:deps
 {:aliases [:dev :test :demo]}

 :dev-http
 {8000 "classpath:public"}

 :builds
 {:test
  {:target     :browser-test
   :runner-ns  lambdaisland.chui.remote
   ;; :runner-ns lambdaisland.chui.shadowrun
   :test-dir   "resources/public"
   :ns-regexp  "-test$"
   :devtools   {:repl-pprint true}}
  }}
