#kaocha/v1
{:plugins [:kaocha.plugin/notifier
           :kaocha.plugin/print-invocations]
 :tests   [{:type                      :kaocha.type/cljs2
            :kaocha.cljs2/before-hook  my.hooks/before-hook
            :shadow/build-id           :test
            }]
 }
